img {
  max-width: 100%;
  display: block;
  border-radius: 4px;
}

a {
  color: inherit;
}

.container {
  max-width: 1200px;
  margin: auto auto;
  padding-top: 20px;
  padding-bottom: 120px;
  box-sizing: border-box;
}

.btn {
  display: inline-block;
  color: var(--p5);
  background: var(--gradiente);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.3;
  padding: 16px 32px;
  text-transform: uppercase;
  border-radius: 4px;
}
