.escolha {
  padding-top: 20px;
  padding-bottom: 40px;
}

.escolha h2 {
  padding-top: 20px;
  padding-bottom: 40px;
  max-width: 1200px;
  margin: auto auto;
  box-sizing: border-box;
  padding-left: 20px;
}

.escolha ul {
  display: flex;
  gap: 40px;
  padding: 0 20px 20px 20px;
  object-fit: fill;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
}

.escolha li {
  flex: 1;
  min-width: 280px;
}

.escolha a {
  display: block;
}

.escolha img {
  margin-bottom: 16px;
}

.escolha h3 {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.escolha h3::before {
  display: inline-block;
  content: "";
  width: 12px;
  height: 8px;
  margin-right: 8px;
  top: 20px;
  background: var(--p1);
  transition: width 0.2s;
}

.escolha a:hover h3::before {
  width: 24px;
}

.escolha li span {
  padding-left: 20px;
}

@media (max-width: 800px) {
  .escolha {
    padding-bottom: 60px;
  }
  .escolha ul {
    gap: 20px;
  }
}
