.introducao-bg {
  background: var(--b);
  box-shadow: inset 0 -120px var(--w);
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.introducao-conteudo {
  align-self: end;
  padding-bottom: 200px;
}

.introducao-conteudo h1 {
  margin-bottom: 32px;
}

.introducao-conteudo p {
  margin-bottom: 20px;
}

.btn:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

.introducao img {
  height: 100%;
  object-fit: cover;
}

@media (max-width: 800px) {
  .introducao-bg {
    background: var(--c11);
    padding-top: 40px;
    box-shadow: inset 0 -60px var(--w);
  }
  .introducao {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .introducao-conteudo {
    padding-bottom: 0px;
  }
  .introducao-conteudo h1 {
    margin-bottom: 16px;
  }
}
